@import url(https://fonts.googleapis.com/css?family=Merriweather:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* basic resets */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

body{
  background: linear-gradient(135deg, #327fcc, #0f447a);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

h1{
  text-align: center;
  position: relative;
  color: #0f447a;
  position:relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

h1::after{
  content: "";
  background-color: #0f447a;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  transform: translateX(-50%);
}

#generate-btn{
  background: linear-gradient(135deg, #0f447a, #327fcc);
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

#generate-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(15, 68, 122, 0.5);
  transition: 0.3s ease;
}

.palette-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.color-box{
  border-radius: 0.8rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s;
}

.color-box:hover{
  transform: translateY(-5px);
 
}

.color{
  height: 120px;
  cursor: pointer;
}

.color-info{
  background-color: #fff;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.hex-value{
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn{
  color: #0f447a;
  cursor: pointer;
  transition: color 0.2s;
}

.copy-btn:hover{
  color: #327fcc;
}

@media(max-width: 768px) {
  .palette-container{
     grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

  .color{
    height: 100px;
    cursor: pointer;
  }

  .color-info{
    padding: 0.4rem;
    font-size: 0.6rem;
    font-weight: 700;
  }

}